<div class="text-center max-960">
<h1>{{title}}</h1> 
{{subTxT}}
            <div id="img">
                <a href="kea@kea.dk"><img src="/images/email.jpg" width="100" height="100"></a>
                <a href="#"><img src="/images/phone.png" width="100" height="100"></a>
                <a href="https://www.facebook.com/kea.dk/"><img src="/images/facebook.png" width="100" height="100"></a>
                <a href="https://twitter.com/keacph"><img src="/images/twitter.png" width="100" height="100"></a>
                <a href="https://www.instagram.com/keacph/"><img src="/images/instagram.ico" width="100" height="100"></a>
                <a href="https://www.linkedin.com/edu/school?id=362007"><img src="/images/linkedin.ico" width="100" height="100"></a>
                <a href="https://www.youtube.com/user/KEAkanal"><img src="/images/youtube.png" width="100" height="100"></a>
            </div>
</div>