<section>
    <div class="text-center">
        <h1>{{title}}</h1>
        <h6>{{subTxT}}</h6>
    </div>
        <div class="text-center" >
            <iframe class="youtube-clip" width="560" height="315" src="https://www.youtube.com/embed/Csccv-oe88o" frameborder="0" allowfullscreen=""></iframe>
            <button class="btn btn-danger" id="subscribe" onclick="location.href = 'https://www.youtube.com/user/KEAkanal';">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>            
                Subscribe
            </button>
        </div>
        <hr class="line-break">
        <div class="events">
        <h1 class="text-center">{{subTxT2}}</h1>
            <div class="event">
                <div class="content">
                    <img src="/images/map.jpg">
                    <p>Event 1</p>
                </div>

                <div class="placeholder">
                    <img src="/images/img_placeholder.jpeg">
                    <img src="/images/img_placeholder.jpeg">
                    <img src="/images/img_placeholder.jpeg">
                </div>
            </div>

            <div class="event">
                <div class="content">
                    <img src="/images/bridge.jpg">
                    <p>Event 2</p>
                </div>

                <div class="placeholder">
                    <img src="/images/img_placeholder.jpeg">
                    <img src="/images/img_placeholder.jpeg">
                    <img src="/images/img_placeholder.jpeg">
                </div>
            </div>

            <div class="event">
                <div class="content">
                    <img src="/images/graph.png">
                    <p>Event 3</p>
                </div>

                <div class="placeholder">
                    <img src="/images/img_placeholder.jpeg">
                    <img src="/images/img_placeholder.jpeg">
                    <img src="/images/img_placeholder.jpeg">
                </div>
            </div>
        </div>
</section>
<hr class="line-break">
<footer class="text-center">
    <div id="bottom_info">
            <a href="index">Go to KEA.DK</a> |
            <a href="#">Drop us a line!</a> |
            <a href="#">Become a member</a>
            <button class="btn btn-info inline" onclick="location.href = 'https://www.youtube.com/user/KEAkanal';">
            <i class="fa fa-hand-o-right" aria-hidden="true"></i>                
            See more pages
        </button>
        </div>
        Copyright © KEA 2017
</footer>