<div id="no-radius" class="jumbotron zero-mg-top max-960">
<h1>About</h1> 
<p>
KEA - Københavns Erhvervsakademis formål er at udvikle og udbyde praksisrettede videregående uddannelser på erhvervsakademiniveau og
professionsbachelorniveau. Det sker i nært samarbejde med erhvervsliv og uddannelsesinstitutioner i ind- og udland. KEA fungerer desuden som 
videnscenter for offentlige og private virksomheder. Nedenfor kan du finde nøgletal for KEA som uddannelsesinstitution. Klik her for facts om hhv. 
fuldtidsuddannelserne og deltidsuddannelserne (efter- og videreuddannelser) på KEA.
</p>
</div>